.main {
  background-color: white;
  width: 750px;
  margin: 0px auto;
}

.container {
  background-color: #eeeeee;
  margin: 0px 20px;
}

.header {
  position: relative;
}

.header img {
  width: 100%;
  height: 640px;
}

.header .title {
  width: 176px;
  height: 62px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  /* position: absolute; */
  /* top: 222px; */
  /* left: 198px; */
  /* width: 100%; */
  font-family: PingFangSC-Semibold;
  font-size: 44px;
  color: #ffffff;
}

.header .header-bottom {
  height: 142px;
  display: flex;
  flex-direction: row;
}

.header-bottom .imgHeader {
  width: 142px;
  height: 0px;
}
